/* Primary colors */
[data-md-color-primary="black"] {
  --md-primary-fg-color: var(--color-blue0);
  --md-primary-fg-color--light: var(--color-blue0);
  --md-primary-fg-color--dark: var(--color-blue0);
  --md-typeset-mark-color: var(--color-blue0-rgba05);
  --md-typeset-kbd-color: var(--color-blue0);
  --md-typeset-kbd-border-color: var(--color-blue0-rgba04);
  --md-code-hl-color: var(--color-dark0-rgba04);
}
[data-md-color-primary="gray"] {
  --md-primary-fg-color: var(--color-gray0);
  --md-primary-fg-color--light: var(--color-gray0);
  --md-primary-fg-color--dark: var(--color-gray0);
  --md-typeset-mark-color: var(--color-gray0-rgba05);
  --md-typeset-kbd-color: var(--color-gray0);
  --md-typeset-kbd-border-color: var(--color-gray0-rgba04);
  --md-code-hl-color: var(--color-gray0-rgba01);
}
[data-md-color-primary="gray1"] {
  --md-primary-fg-color: var(--color-gray1);
  --md-primary-fg-color--light: var(--color-gray1);
  --md-primary-fg-color--dark: var(--color-gray1);
  --md-typeset-mark-color: var(--color-gray1-rgba05);
  --md-typeset-kbd-color: var(--color-gray1);
  --md-typeset-kbd-border-color: var(--color-gray1-rgba04);
  --md-code-hl-color: var(--color-gray1-rgba01);
}
[data-md-color-primary="gray2"] {
  --md-primary-fg-color: var(--color-gray2);
  --md-primary-fg-color--light: var(--color-gray2);
  --md-primary-fg-color--dark: var(--color-gray2);
  --md-typeset-mark-color: var(--color-gray2-rgba05);
  --md-typeset-kbd-color: var(--color-gray2);
  --md-typeset-kbd-border-color: var(--color-gray2-rgba04);
  --md-code-hl-color: var(--color-gray2-rgba01);
}
[data-md-color-primary="red"] {
  --md-primary-fg-color: var(--color-red0);
  --md-primary-fg-color--light: var(--color-red0);
  --md-primary-fg-color--dark: var(--color-red0);
  --md-typeset-mark-color: var(--color-red0-rgba05);
  --md-typeset-kbd-color: var(--color-red0);
  --md-typeset-kbd-border-color: var(--color-red0-rgba04);
  --md-code-hl-color: var(--color-red0-rgba01);
}
[data-md-color-primary="red1"] {
  --md-primary-fg-color: var(--color-red1);
  --md-primary-fg-color--light: var(--color-red1);
  --md-primary-fg-color--dark: var(--color-red1);
  --md-typeset-mark-color: var(--color-red1-rgba05);
  --md-typeset-kbd-color: var(--color-red1);
  --md-typeset-kbd-border-color: var(--color-red1-rgba04);
  --md-code-hl-color: var(--color-red1-rgba01);
}
[data-md-color-primary="red2"] {
  --md-primary-fg-color: var(--color-red2);
  --md-primary-fg-color--light: var(--color-red2);
  --md-primary-fg-color--dark: var(--color-red2);
  --md-typeset-mark-color: var(--color-red2-rgba05);
  --md-typeset-kbd-color: var(--color-red2);
  --md-typeset-kbd-border-color: var(--color-red2-rgba04);
  --md-code-hl-color: var(--color-red2-rgba01);
}
[data-md-color-primary="green"] {
  --md-primary-fg-color: var(--color-green0);
  --md-primary-fg-color--light: var(--color-green0);
  --md-primary-fg-color--dark: var(--color-green0);
  --md-typeset-mark-color: var(--color-green0-rgba05);
  --md-typeset-kbd-color: var(--color-green0);
  --md-typeset-kbd-border-color: var(--color-green0-rgba04);
  --md-code-hl-color: var(--color-green0-rgba01);
}
[data-md-color-primary="green1"] {
  --md-primary-fg-color: var(--color-green1);
  --md-primary-fg-color--light: var(--color-green1);
  --md-primary-fg-color--dark: var(--color-green1);
  --md-typeset-mark-color: var(--color-green1-rgba05);
  --md-typeset-kbd-color: var(--color-green1);
  --md-typeset-kbd-border-color: var(--color-green1-rgba04);
  --md-code-hl-color: var(--color-green1-rgba01);
}
[data-md-color-primary="green2"] {
  --md-primary-fg-color: var(--color-green2);
  --md-primary-fg-color--light: var(--color-green2);
  --md-primary-fg-color--dark: var(--color-green2);
  --md-typeset-mark-color: var(--color-green2-rgba05);
  --md-typeset-kbd-color: var(--color-green2);
  --md-typeset-kbd-border-color: var(--color-green2-rgba04);
  --md-code-hl-color: var(--color-green2-rgba01);
}
[data-md-color-primary="yellow"] {
  --md-primary-fg-color: var(--color-yellow0);
  --md-primary-fg-color--light: var(--color-yellow0);
  --md-primary-fg-color--dark: var(--color-yellow0);
  --md-typeset-mark-color: var(--color-yellow0-rgba05);
  --md-typeset-kbd-color: var(--color-yellow0);
  --md-typeset-kbd-border-color: var(--color-yellow0-rgba04);
  --md-code-hl-color: var(--color-yellow0-rgba01);
}
[data-md-color-primary="yellow1"] {
  --md-primary-fg-color: var(--color-yellow1);
  --md-primary-fg-color--light: var(--color-yellow1);
  --md-primary-fg-color--dark: var(--color-yellow1);
  --md-typeset-mark-color: var(--color-yellow1-rgba05);
  --md-typeset-kbd-color: var(--color-yellow1);
  --md-typeset-kbd-border-color: var(--color-yellow1-rgba04);
  --md-code-hl-color: var(--color-yellow1-rgba01);
}
[data-md-color-primary="yellow2"] {
  --md-primary-fg-color: var(--color-yellow2);
  --md-primary-fg-color--light: var(--color-yellow2);
  --md-primary-fg-color--dark: var(--color-yellow2);
  --md-typeset-mark-color: var(--color-yellow2-rgba05);
  --md-typeset-kbd-color: var(--color-yellow2);
  --md-typeset-kbd-border-color: var(--color-yellow2-rgba04);
  --md-code-hl-color: var(--color-yellow2-rgba01);
}
[data-md-color-primary="blue"] {
  --md-primary-fg-color: var(--color-blue0);
  --md-primary-fg-color--light: var(--color-blue0);
  --md-primary-fg-color--dark: var(--color-blue0);
  --md-typeset-mark-color: var(--color-blue0-rgba05);
  --md-typeset-kbd-color: var(--color-blue0);
  --md-typeset-kbd-border-color: var(--color-blue0-rgba04);
  --md-code-hl-color: var(--color-blue0-rgba01);
}
[data-md-color-primary="blue1"] {
  --md-primary-fg-color: var(--color-blue1);
  --md-primary-fg-color--light: var(--color-blue1);
  --md-primary-fg-color--dark: var(--color-blue1);
  --md-typeset-mark-color: var(--color-blue1-rgba05);
  --md-typeset-kbd-color: var(--color-blue1);
  --md-typeset-kbd-border-color: var(--color-blue1-rgba04);
  --md-code-hl-color: var(--color-blue1-rgba01);
}
[data-md-color-primary="blue2"] {
  --md-primary-fg-color: var(--color-blue2);
  --md-primary-fg-color--light: var(--color-blue2);
  --md-primary-fg-color--dark: var(--color-blue2);
  --md-typeset-mark-color: var(--color-blue2-rgba05);
  --md-typeset-kbd-color: var(--color-blue2);
  --md-typeset-kbd-border-color: var(--color-blue2-rgba04);
  --md-code-hl-color: var(--color-blue2-rgba01);
}
[data-md-color-primary="purple"] {
  --md-primary-fg-color: var(--color-purple0);
  --md-primary-fg-color--light: var(--color-purple0);
  --md-primary-fg-color--dark: var(--color-purple0);
  --md-typeset-mark-color: var(--color-purple0-rgba05);
  --md-typeset-kbd-color: var(--color-purple0);
  --md-typeset-kbd-border-color: var(--color-purple0-rgba04);
  --md-code-hl-color: var(--color-purple0-rgba01);
}
[data-md-color-primary="purple1"] {
  --md-primary-fg-color: var(--color-purple1);
  --md-primary-fg-color--light: var(--color-purple1);
  --md-primary-fg-color--dark: var(--color-purple1);
  --md-typeset-mark-color: var(--color-purple1-rgba05);
  --md-typeset-kbd-color: var(--color-purple1);
  --md-typeset-kbd-border-color: var(--color-purple1-rgba04);
  --md-code-hl-color: var(--color-purple1-rgba01);
}
[data-md-color-primary="purple2"] {
  --md-primary-fg-color: var(--color-purple2);
  --md-primary-fg-color--light: var(--color-purple2);
  --md-primary-fg-color--dark: var(--color-purple2);
  --md-typeset-mark-color: var(--color-purple2-rgba05);
  --md-typeset-kbd-color: var(--color-purple2);
  --md-typeset-kbd-border-color: var(--color-purple2-rgba04);
  --md-code-hl-color: var(--color-purple2-rgba01);
}
[data-md-color-primary="aqua"] {
  --md-primary-fg-color: var(--color-aqua0);
  --md-primary-fg-color--light: var(--color-aqua0);
  --md-primary-fg-color--dark: var(--color-aqua0);
  --md-typeset-mark-color: var(--color-aqua0-rgba05);
  --md-typeset-kbd-color: var(--color-aqua0);
  --md-typeset-kbd-border-color: var(--color-aqua0-rgba04);
  --md-code-hl-color: var(--color-aqua0-rgba01);
}
[data-md-color-primary="aqua1"] {
  --md-primary-fg-color: var(--color-aqua1);
  --md-primary-fg-color--light: var(--color-aqua1);
  --md-primary-fg-color--dark: var(--color-aqua1);
  --md-typeset-mark-color: var(--color-aqua1-rgba05);
  --md-typeset-kbd-color: var(--color-aqua1);
  --md-typeset-kbd-border-color: var(--color-aqua1-rgba04);
  --md-code-hl-color: var(--color-aqua1-rgba01);
}
[data-md-color-primary="aqua2"] {
  --md-primary-fg-color: var(--color-aqua2);
  --md-primary-fg-color--light: var(--color-aqua2);
  --md-primary-fg-color--dark: var(--color-aqua2);
  --md-typeset-mark-color: var(--color-aqua2-rgba05);
  --md-typeset-kbd-color: var(--color-aqua2);
  --md-typeset-kbd-border-color: var(--color-aqua2-rgba04);
  --md-code-hl-color: var(--color-aqua2-rgba01);
}
[data-md-color-primary="orange"] {
  --md-primary-fg-color: var(--color-orange0);
  --md-primary-fg-color--light: var(--color-orange0);
  --md-primary-fg-color--dark: var(--color-orange0);
  --md-typeset-mark-color: var(--color-orange0-rgba05);
  --md-typeset-kbd-color: var(--color-orange0);
  --md-typeset-kbd-border-color: var(--color-orange0-rgba04);
  --md-code-hl-color: var(--color-orange0-rgba01);
}
[data-md-color-primary="orange1"] {
  --md-primary-fg-color: var(--color-orange1);
  --md-primary-fg-color--light: var(--color-orange1);
  --md-primary-fg-color--dark: var(--color-orange1);
  --md-typeset-mark-color: var(--color-orange1-rgba05);
  --md-typeset-kbd-color: var(--color-orange1);
  --md-typeset-kbd-border-color: var(--color-orange1-rgba04);
  --md-code-hl-color: var(--color-orange1-rgba01);
}
[data-md-color-primary="orange2"] {
  --md-primary-fg-color: var(--color-orange2);
  --md-primary-fg-color--light: var(--color-orange2);
  --md-primary-fg-color--dark: var(--color-orange2);
  --md-typeset-mark-color: var(--color-orange2-rgba05);
  --md-typeset-kbd-color: var(--color-orange2);
  --md-typeset-kbd-border-color: var(--color-orange2-rgba04);
  --md-code-hl-color: var(--color-orange2-rgba01);
}
